.dashboard-header {
  background-color: #0071bc; /* Blue color */
  color: white;
  text-align: center;
  padding: 30px 10px;
  font-family: Arial, sans-serif;
}

.dashboard-header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

.dashboard-header p {
  margin: 5px 0 0 0;
  font-size: 16px;
  opacity: 0.85;
}

body {
  font-family: Arial;
  margin: 0;
  background: #f5f6fa;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
  margin: 20px 0;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.income { color: green; }
.expense { color: red; }

button {
  padding: 8px 12px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}

.delete-btn {
  background: red;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.chart-box {
  width: 100%;
  max-width: 400px;
  height: 300px;
  margin: auto;
}

.insights {
  margin-top: 20px;
  padding: 15px;
  background: #fff3cd;
  border-radius: 10px;
}

@media(max-width:700px){
  .charts { grid-template-columns: 1fr; }
}